{% load i18n %}
{% if view.deletion_protected %}
<div class="notification is-danger is-light">
    <p>{{ view.deletion_protected_message }}</p>
    <ul>
        {% for item in view.deletion_protected %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>
{% else %}
{% if view.deletion_summary %}
<h3 class="title is-6 mb-2">{% trans "Summary" %}</h3>
<ul class="djmvc-deletion-summary mb-4">
    {% for model_name, object_count in view.deletion_summary %}
    <li>{{ model_name }}: {{ object_count }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if view.deleted_objects %}
<h3 class="title is-6 mb-2">{% trans "Objects" %}</h3>
<ul class="djmvc-deletion-objects">{{ view.deleted_objects|unordered_list }}</ul>
{% endif %}
{% endif %}

{% for pk in view.pks %}
<input type="hidden" name="pks" value="{{ pk }}">
{% endfor %}