<div up-flashes class="djmvc-flashes" role="alert">
    {% for message in messages %}
    <div class="notification djmvc-toast is-light
        {% if 'error' in message.tags %}is-danger
        {% elif 'success' in message.tags %}is-success
        {% elif 'warning' in message.tags %}is-warning
        {% elif 'info' in message.tags %}is-info
        {% else %}is-info{% endif %}"
        data-nonce="{{ forloop.counter }}-{{ message|slugify }}">
        <button class="delete" aria-label="dismiss"></button>
        {{ message }}
    </div>
    {% endfor %}
</div>