{% load djmvc crispy_forms_tags i18n %}
{% trans "Apply" as default_submit_label %}
{% if form %}
<form method="{{ form_method|default:'get' }}"
      class="{{ css_class|default:'djmvc-horizontal-form' }}"
      {{ attrs|html_attributes }}>
    <div class="field is-grouped">
        {% for field in form.visible_fields %}
        <div class="control">
            {{ field|as_crispy_field }}
        </div>
        {% endfor %}
        <div class="control">
            <button type="submit" class="button is-primary" aria-label="{% if submit_label %}{{ submit_label }}{% else %}{{ default_submit_label }}{% endif %}">
                {% if submit_icon %}
                <span class="icon"><i class="bi bi-{{ submit_icon }}"></i></span>
                {% else %}
                <span>{% if submit_label %}{{ submit_label }}{% else %}{{ default_submit_label }}{% endif %}</span>
                {% endif %}
            </button>
        </div>
        {% if show_clear %}
        <div class="control">
            <a href="{{ clear_url }}" class="button djmvc-filter-clear" up-follow up-target="{{ target }}" up-history>{% trans "Clear" %}</a>
        </div>
        {% endif %}
    </div>
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
</form>
{{ form.media }}
{% endif %}