{% extends "djmvc/base.html" %}
{% load eval %}
{% load django_tables2 %}

{% block content %}
<div class="level mb-5">
    <div class="level-left">
        <div>
            <h1 class="title is-3">
                {% if view.icon %}<span class="icon{% if view.color %} has-text-{{ view.color }}{% endif %}"><i class="bi bi-{{ view.icon }}"></i></span>{% endif %}
                {{ view.title }}
            </h1>
        </div>
    </div>
    <div class="level-right">
        <div class="buttons">
            {% if view.controller %}
                {% eval view.controller.root.get_tagged_views 'model' request=request as model_menu %}
            {% endif %}
            {% for action in model_menu %}
            <a
                href="{{ action.url }}"
                class="button is-{{ action.color|default:'primary' }}"
                {% if action.action %}{{ action.action }}{% endif %}
                up-layer="new modal"
                up-size="medium"
                up-accept-location="{{ request.path }}"
            >
               {% if action.icon %}<span class="icon"><i class="bi bi-{{ action.icon }}"></i></span>{% endif %}
               <span>{{ action.title }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% if view.table %}
    {% render_table view.table 'djmvc/_tables2.html' %}
{% else %}
    <div class="notification is-info is-light">
        No {{ view.model_meta.verbose_name_plural|default:"items" }} found.
    </div>
{% endif %}
{% endblock %}
